:root {
  // colors
  --white: #fff;
  --gray-200: #424250;
  --gray-300: #000000;
  --blue-100: #f0f1ff;
  --blue-200: #4f5bff;
  --blue-300: #3840b8;

  // font sizes
  --fs-xxxl: 60px;
  --fs-xxl: 32px;
  --fs-xl: 28px;
  --fs-l: 24px;
  --fs-m: 18px;
  --fs-s: 16px;
  --fs-xs: 10px;
}
